  {% extends "base.html" %}
  {% load static %}

  {% block content %}
    <h1 >About Us </h1>
    <h2 class="center-text-AboutUs"> Mission Statment </h2>
    <div class="center-text-AboutUs">
      The propose of this group is to make a reliable website with the knowledge we gain
      troughout this class and other classes. Another part of our project is to understand
      the process of understanding hwo teh documantion of Software Engingering.
    </div>
    <br/>
    <br/>
    <div class="card-columns">
      <div  class="card card-size-AboutUs">
      <img src="./static/uploads/Picture Placeholder for AboutUs.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-text">
            Name: Jayson Alfaro
        </div>
        <div class="card-text">
          Age: 20
        </div>
        <div class="card-text">
          Hobbies: Gaming, Reading, and Photography
        </div>
      </div>
    </div>
    <div id="book_card"  class="card card-size-AboutUs">
      <img src="./static/uploads/Picture Placeholder for AboutUs.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-text">
            Name: Ira Vizcarra
        </div>
        <div class="card-text">
          Age: 1
        </div>
        <div class="card-text">
          Hobbies: nothing
        </div>
      </div>
    </div>
    <div  class="card card-size-AboutUs">
      <img src="./static/uploads/Picture Placeholder for AboutUs.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-text">
            Name: Luis Vicente
        </div>
        <div class="card-text">
          Age: 200000
        </div>
        <div class="card-text">
          Hobbies: PlaceHolder
        </div>
      </div>
    </div>
    <div class="card card-size-AboutUs">
      <img src="./static/uploads/Picture Placeholder for AboutUs.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-text">
            Name: Tristan Ing
        </div>
        <div class="card-text">
          Age: 65
        </div>
        <div class="card-text">
          Hobbies: PlaceHolder
        </div>
      </div>
    </div>
    <div class="card card-size-AboutUs">
      <img src="./static/uploads/Picture Placeholder for AboutUs.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-text">
            Name: James San
        </div>
        <div class="card-text">
          Age: PlaceHolder
        </div>
        <div class="card-text">
          Hobbies: PlaceHolder
        </div>
      </div>
    </div>
      <div class="card card-size-AboutUs">
      <img src="./static/uploads/Picture Placeholder for AboutUs.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-text">
            Name: Mia Lau
        </div>
        <div class="card-text">
          Age: PlaceHolder
        </div>
        <div class="card-text">
          Hobbies: PlaceHolder
        </div>
      </div>
    </div>
    </div>



  {% endblock content %}