{% extends "base.html" %}
  {% load static %}

  {% block content %}

  <br>Comments:<br>
    <table class="table" border="2">
    <thead class="thead-dark">
    <tr>
      <th>User <i class="bi bi-person"></i></th>
      <th>Comment <i class="bi bi-card-list"></i></th>
      <th>Date <i class="bi bi-calendar-event"></i></th>
    </tr>
    </thead>

    {% for comment in comments %}
    <tr>
      <td>{{ comment.user }}</td>
      <td>{{ comment.comment }}</td>
      <td>{{ comment.comment_date_time }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="postcomment/{{ bookid }}">Add Comment</a><br><br>
  {% endblock content %}