  {% extends "base.html" %}
  {% load static %}

  {% block content %}
    <h1>Book Details : "{{ book.name }}"</h1>

      <div class="book_card">
          <div class="book_card__header">
            <h3>User: {{ book.username }}</h3>
          </div>
          <img height="200"
            src="{% static book.pic_path %}"
            class="img-thumbnail book_card__img"
            alt="Picture of the book: {{ book.name }}">
          <div class="book_card__subsection">
            <div class="flex-row space-between">
              <span>
                  <table class="table">
                      <thead class="thead">
                        <th>Published</th>
                      </thead>
                        <tbody>
                             <td>{{ book.publishedate }}</td>
                        </tbody>
                  </table>
            </span>
                <span>
                  <table class="table">
                      <thead class="thead">
                        <th>Price</th>
                      </thead>
                        <tbody>
                             <td>{{ book.price }}</td>
                        </tbody>
                  </table>
            </span>
            </div>
          </div>
        </div>
<!--  <table border = "2">-->
<!--    <tr>-->
<!--        <td> {{ book.name }}</td>-->
<!--      <td>{{ book.price }}</td>-->
<!--      <td>{{ book.username }}</td>-->
<!--        <td>{{ book.publishedate }}</td>-->
<!--      <td>-->
<!--        <img src="{% static book.pic_path %}" height="100"/>-->
<!--      </td>-->
<!--    </tr>-->
<!--  <div>-->
<!--    <p>{{ book.username }}</p>-->
<!--  </div>-->
<!--  </table>-->
    <br>Comments:<br>
    <table class="table" border="2">
    <thead class="thead-dark">
    <tr>
      <th>User <i class="bi bi-person"></i></th>
      <th>Comment <i class="bi bi-card-list"></i></th>
      <th>Date <i class="bi bi-calendar-event"></i></th>
    </tr>
    </thead>

    {% for comment in comments %}
    <tr>
      <td>{{ comment.user }}</td>
      <td>{{ comment.comment }}</td>
      <td>{{ comment.comment_date_time }}</td>
    </tr>
    {% endfor %}
  </table>

    <br>Add new comment:
    <form action="" enctype="multipart/form-data" method = "post" novalidate>
        <table>
<!--            {{ form.as_table }}-->
            <div class="row">
                <div class="col-12">
                    <label for="basic-comment">Comment</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-pencil-fill"></i></span>
                      </div>
                      <input type="text" class="form-control" id="basic-comment" placeholder="Enter comment here" aria-describedby="basic-addon1" name="name">
                    </div>
                </div>
            </div>
        </table>
        <!--<input type="submit" class="btn btn-success" value="Submit" name="Submit">-->
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit Comment <i class="bi bi-check-all"></i></button>
        {% csrf_token %}
    </form>

  {% endblock content %}