{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="book_card__container">
    <div class="row">
      {% for book in books %}
      <div class="col-md-4">
        <div class="book_card">
          <div class="book_card__header">
            <h3>{{ book.username }} - <a href="book_detail/{{ book.id }}">{{ book.name }}</a></h3>
          </div>
          <img width="200"
            src="{{ book.picture.name|slice:'7:' }}"
            class="img-thumbnail book_card__img"
            alt="Picture of the book: {{ book.name }}">
          <div class="book_card__subsection">
            <div class="flex-row space-between">
              <span>*****</span>
              <span><i class="bi bi-clipboard2"></i></span>
            </div>
            <p>Average rating: 3*</p>
            <p><b>{{book.username }}</b>: (This user has not posted a description)</p>
            <a href="#">View comments</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock content %}