{% extends "base.html" %}
{% load static %}

{% block content %}
  <div id="book_card_container" class="book_card__container">
    <div class="row">
      {% for book in books %}
      <div class="col-md-4">
        <div id="book_card" name="{{book.id}}" class="book_card">
          <div class="book_card__header">
            <h3><a href="/user/{{ book.username.id }}">{{ book.username }}</a> - <a href="book_detail/{{ book.id }}">{{ book.name }}</a></h3>
          </div>
          <img width="200"
            src="{% static book.picture.name|slice:'14:' %}"
            class="img-thumbnail book_card__img"
            alt="Picture of the book: {{ book.name }}">
          <div class="book_card__subsection">
            <div class="flex-row space-between">
              <span>*****</span>
              <i class="card_favorites_icon clickable bi" onClick="toggleFavoriteBook({{ book.id }})"></i>
            </div>
            <p>Average rating: 3*</p>
            <p><b>{{ book.username }}</b>: (This user has not posted a description)</p>
            <a href="#">View comments</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    const fetchFavoriteBooks = async () => {
      const user_id = "{{ user_id }}";
      if (user_id == "-1") {
        return;
      }
      
      const favoriteBookIDs = await fetch("/api/getFavoriteBooks").then((res) => {
        return res.json();
      }).then((res) => {
        return res.data;
      })

      const books = [...document.getElementsByClassName("book_card")];
      books.map((book) => {
        const book_id = parseInt(book.getAttribute("name"))
        const book_icon = book.getElementsByClassName("card_favorites_icon")[0];
        if (favoriteBookIDs.includes(book_id)) {
          book_icon.classList.remove("bi-bookmark")
          book_icon.classList.add("bi-bookmark-fill")
        } else {
          book_icon.classList.remove("bi-bookmark-fill")
          book_icon.classList.add("bi-bookmark")
        }
      })
    }

    const toggleFavoriteBook = async (book_id) => {
      await fetch("/api/toggleFavoritesByBookID/"+book_id).then(() => {
        fetchFavoriteBooks();
      })
    }

    document.addEventListener("DOMContentLoaded", () => {
      fetchFavoriteBooks();
    })
  </script>
{% endblock script %}