* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar__container {
    /* height: 3rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid grey;
    padding: 0.5rem;
    position: sticky !important;
    top: 0;
    z-index: 99;
    background-color: white;
}
.navbar_links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.searchbar__container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar_links li {
    list-style-type: none;
}
.navbar_links a {
    text-decoration: none;
}


/* Main Content */
.container {
    display: flex;
    background-color: #f9f9f9;
    flex-grow: 1;
    padding: 1rem 0;
}
.main_content {
    width: 80%;
    margin: 0 auto;
}

/* Display Books */
.book_card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    width: 100%;
}
.book_card {
    display: flex;
    flex-direction: column;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* height: 600px; */
}
.book_card__header {
    padding: 0.5rem;
    border: 1px solid grey;
}
.book_card__img {
    width: 100%;
}
.book_card__subsection {
    padding: 0.5rem;
    padding-bottom: 2rem;
    background-color: white;
    border: 1px solid grey;
}
.card_favorites_icon:hover {
    transform: scale(1.1);
}
.star-yellow {
    color: yellow;
}

/* Footer */
.footer {
    background-color: #333;
    height: 4rem;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
}


/* Utility classes */
a:hover {
    text-decoration: underline !important;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.space-between {
    justify-content: space-between;
}
.clickable {
    cursor: pointer;
}
.center-text-AboutUs{
    text-align: center;
    font-size: 25px;
}
.card-size-AboutUs{
    width: 15rem;
}
