{% extends "base.html" %}
{% load static %}

{% block content %}
    <H1>User Registration </H1>
    <form action="" method="post" >
        <table>
            <div class="col">
                <h6 class="text-danger">Required *</h6>
                <label for="basic-name">Username:</label>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                          </div>
                          <input type="text" class="form-control" id="basic-name" placeholder="Enter Username" aria-describedby="basic-addon1" name="username">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>150 characters or fewer.</li>
                            <li>Letters, digits and @/./+/-/_ only.</li>
                        </ul>
                    </div>
                </div>

                </div>
                <div class="col">
                    <h6 class="text-danger">Required *</h6>
                    <label for="basic-password">Password:</label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="bi bi-key-fill"></i></span>
                              </div>
                              <input type="password" class="form-control" id="basic-password" placeholder="Enter Password" aria-describedby="basic-addon3" name="password1">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <label for="basic-password2">Password Confirmation:</label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"><i class="bi bi-key-fill"></i></span>
                              </div>
                              <input type="password" class="form-control" id="basic-password2" placeholder="Enter Password" aria-describedby="basic-addon3" name="password2">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul>
                                <li>Enter the same password as before, for verification.</li>
                            </ul>
                        </div>
                    </div>
                </div>
<!--            {{ form.as_table }}-->
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Register <i class="bi bi-check-all"></i></button>
<!--                    <input type="submit" value="Submit">-->
                </td>
            </tr>
        </table>
      <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
    </form>
{% endblock content %}